<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{site/dashboardSiteLayout.html}">

<head>

</head>

<body>
  <section class="row" layout:fragment="content">

    <div class="col-3">
      <h2 class="bg-info" style="height: 1200px;">
		Side Bar For Search Products
      </h2>
    </div>
    <div class="col-9 d-flex justify-content-between flex-wrap px-0">
      <div class="card mt-3" style="width:220px;height:320px;" th:each="item, iStart : ${productPage.content}">
        <div class="img-hover-zoom">
          <a href="#" class="myDIV">
            <img class="card-img-top" th:src="${'/site/products/images/' + item.image}" alt="Card image"
              style="width:100%">
             <a th:href="@{'/site/cart/add/' + ${item.productId}}" class="btn btn-info position-absolute hide1">Add to Cart</a>
          </a>
        </div>
        <div class="textoverflow">
          <a href="#" class="ml-3 hoverr color lineheight1" th:text="${item.name}" th:title="${item.name}"></a>
        </div>

        <p class="text-danger font-weight-bold ml-3 mb-1" th:text="${item.unitPrice}+'₫'"></p>

        



      </div>
    </div>

    <div class="pt-3 w-100 ">
      <nav class="float-right" aria-label="Page navigation" th:if="${productPage.totalPages > 0}">
        <ul class="pagination justify-content-center">
          <li th:class="${1 == productPage.number + 1}? 'page-item active' : 'page-item'">
            <a th:href="@{/site/products(name = ${name}, size = ${productPage.size}, page = ${1})}"
              class=" btn btn-info mr-1">&lt;</a>
          </li>
          <li class="page-item active " th:each="pageNumber : ${pageNumbers}" th:if="${productPage.totalPages > 1}"
            th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
            <a th:href="@{/site/products(name = ${name}, size = ${productPage.size}, page = ${pageNumber})}"
              class=" mx-2 btn btn-info" th:text="${pageNumber}"></a>
          </li>
          <li th:class="${productPage.totalPages == productPage.number + 1}? 'page-item active' : 'page-item'">
            <a th:href="@{/site/products(name = ${name}, size = ${productPage.size}, page = ${productPage.totalPages})}"
              class=" ml-1 btn btn-info">&gt;</a>
          </li>
        </ul>
      </nav>
    </div>










  </section>
</body>

</html>