<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
  <div th:fragment="nav">
      <nav class="navbar navbar-expand-sm navbar-light bgsecondary py-0">
      <div class="container">
        <div class="collapse navbar-collapse row" id="collapsibleNavId">
          <div class="col-3">
            <a class="navbar-brand" href="#"><img src="/images/logo.PNG" width="150px" alt="logo"></a>
          </div>
          <div class="col-6">
            <form class="form-inline" action="">
              <input class="form-control mr-sm-2 w-75" type="text" placeholder="Search Product">
              <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    
    
    <nav class="navbar navbar-expand-sm navbar-light bgprimary py-0">
      <div class="container">
        <div class="collapse navbar-collapse row" id="collapsibleNavId">
          <ul class="navbar-nav col-3">
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white px-0" href="#">PRODUCT CATEGORIES</a>
            </li>
          </ul>
          <ul class="navbar-nav col-9">
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="#">HOME PAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold mx-2 text-white" href="#">DOG SHOP</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbardrop" data-toggle="dropdown">
                DOG SHOP
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/site/dogProducts}">Dog Foods</a>
                <a class="dropdown-item" th:href="@{/site/dogProducts}">Dog Fashion</a>
                <a class="dropdown-item" th:href="@{/site/dogProducts}">Heath Care</a>
                <a class="dropdown-item" th:href="@{/site/dogProducts}">Accessory</a>
                <a class="dropdown-item" th:href="@{/site/dogProducts}">Mattress </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbardrop" data-toggle="dropdown">
                CAT SHOP
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/site/catProducts}">Cat Foods</a>
                <a class="dropdown-item" th:href="@{/site/catProducts}">Cat Fashion</a>
                <a class="dropdown-item" th:href="@{/site/catProducts}">Heath Care</a>
                <a class="dropdown-item" th:href="@{/site/catProducts}">Accessory</a>
                <a class="dropdown-item" th:href="@{/site/catProducts}">Mattress </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 font-weight-bold text-white" href="#">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold text-white" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>