<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
  </head>
  <body>
    <div th:fragment="footer">
    <footer class="footer bgprimary">
	<div class="first-footer d-flex">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<a href="/" class="logo">	
						<img width="250" height="85" src="/images/logo1.png" alt="logo">
					</a>
					<h4 class="d-block">
						CÔNG TY TNHH DEARPET
					</h4>
					<div style="color:#fff">
						<i class="fa fa-address-card" style="color:#fff" aria-hidden="true"></i> Giấy phép kinh doanh số 0000000 do UBND thành phố Hồ Chí Minh cấp ngày 00/00/2009.
					</div>
					<div>
						
						<p>
							
							D5, quận Bình Thạnh, thành phố Hồ Chí Minh.
							
						</p>
					</div>
					<div>
						
						<a class="phone" href="#">
							028.00.00.00.00
						</a>
					</div>
					<div>
						
						<a class="phone" href="#">
							dearpet@gmail.com
						</a>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-12">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<h4 class="title-menu">
								<span>
									Về Chúng Tôi 
								</span>
							</h4>
							<ul class="list-menu">
								
								<li class="li_menu"><a href="#" title="Giới Thiệu Về DEARPET">Giới Thiệu Về DEARPET</a></li>
								
								<li class="li_menu"><a href="#" title="Giấy Phép Kinh Doanh">Giấy Phép Kinh Doanh</a></li>
								
								<li class="li_menu"><a href="#" title="Giấy Chứng Nhận Nhãn Hiệu">Giấy Chứng Nhận Nhãn Hiệu</a></li>
								
								<li class="li_menu"><a href="#" title="Liên Hệ">Liên Hệ</a></li>
								
							</ul>

						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<h4 class="title-menu">
								<span>
									Chính Sách <i class="fa fa-plus hidden" aria-hidden="true"></i>
								</span>
							</h4>
							<ul class="list-menu">
								
								<li class="li_menu"><a href="#" title="Chính Sách Đổi Trả">Chính Sách Đổi Trả</a></li>
								
								<li class="li_menu"><a href="#" title="Chính Sách Thanh Toán">Chính Sách Thanh Toán</a></li>
								
								<li class="li_menu"><a href="#" title="Chính Sách Vận Chuyển">Chính Sách Vận Chuyển</a></li>
								
								<li class="li_menu"><a href="#" title="Chính Sách Bảo Mật">Chính Sách Bảo Mật</a></li>
								
							</ul>
							<a class="bct" href="#" target="_blank"><img src="//bizweb.dktcdn.net/100/092/840/themes/885495/assets/logo_bct.png?1678853570350" alt="logo bộ công thương" style="max-width:175px"></a>
							<a href="#" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=3fdc7d8c-b773-4f62-82a8-4d2c9c6df3c7" alt="DMCA.com Protection Status"></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>	
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<h4 class="title-menu faild">
						<span>
							Số Điện Thoại Chi Nhánh 
						</span>
					</h4>
					<div class="company-phone">
						<div class="phone"> 
							
							<p class="phone-detail"> 
								<a href="tel:0909090909">0909 09 09 09</a> 
								<br> 
								<span>Chi nhánh 1 TP. Thủ Đức</span> 
							</p> 
						</div>
						<div class="phone"> 
							
							<p class="phone-detail"> 
								<a href="tel:0808080808">0808 080 808</a> 
								<br> 
								<span>Chi nhánh 2 quận 10</span> 
							</p> 
						</div>
						<div class="mail"> 
							
							<p class="mail-detail"> 
								<a href="#">
									<span>Sỉ liên hệ: 0707 0707 0707</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright d-flex">
		<div class="container">
			<div class="inner">
				<div class="row tablet">
					<div class="col-md-4 order-1 order-md-2">
						<div class="social">
							<a href="#" class="social-button" title="Facebook" target="_blank" rel="nofollow">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>
							</a>
							<a href="#" class="social-button" title="Youtube" target="_blank" rel="nofollow">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>
							</a>
							<a href="#" class="social-button" title="Shopee" target="_blank" rel="nofollow">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M349.9 379.1c-6.281 36.63-25.89 65.02-56.69 82.11c-24.91 13.83-54.08 18.98-83.73 18.98c-61.86 0-125.8-22.42-157.5-35.38c-16.38-6.672-24.22-25.34-17.55-41.7c6.641-16.36 25.27-24.28 41.7-17.55c77.56 31.64 150.6 39.39 186.1 19.69c13.83-7.672 21.67-19.42 24.69-36.98c7.25-42.31-18.2-56.75-103.7-81.38C112.6 266.6 15.98 238.7 34.11 133.2c5.484-32 23.64-59.36 51.14-77.02c45.59-29.33 115-31.87 206.4-7.688c17.09 4.531 27.27 22.05 22.75 39.13s-22.06 27.23-39.13 22.75C184 86.17 140.4 96.81 119.8 110c-12.55 8.062-20.17 19.5-22.66 34c-7.266 42.31 18.19 56.75 103.7 81.38C271.4 245.7 368 273.5 349.9 379.1z"></path></svg>
							</a>
						</div>
					</div>
					<div id="copyright" class="col-md-8 order-2 order-md-1">
						<div class="wsp">
							Bản quyền thuộc về <a href="#">DEARPET</a>
							<span class="opacity1">
								Cung cấp bởi 
								 <a href="#" rel="noopener">Sapo</a> 
							</span>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="backtop" title="Lên đầu trang"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
		</div>
	</div>
</footer>
    </div>
  </body>
</html>