<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">
    <head>
         
    </head>
    <body>
        <section class="row" layout:fragment="content">
            <div class="col mt-5">
                <form th:action="@{/admin/products/saveOrUpdate}" method="post" enctype="multipart/form-data" th:object="${product}">
                    <div class="card">

                        <div class="card-header">
                            <h2 class="float-left" th:text="${product.isEdit}?'Edit Product' : 'Add New Product'"></h2>
                            <button class="btn btn-primary btn-lg float-right" th:text="${product.isEdit}? 'Update' : 'Save'">Save</button>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">

                                    <input type="hidden" th:field="*{isEdit}">
                                    <div class="form-group">
                                        <label for="productId">Product ID:</label>
                                        <input type="text" class="form-control" name="productId" id="productId" aria-describedby="productIdHid" placeholder="Product ID" th:field="*{productId}" readonly>
                                        <small id="productIdHid" th:if="${#fields.hasErrors('productId')}" class="form-text text-muted">Product ID is required</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="Name" th:field="*{name}">
                                        <small id="nameHid" th:if="${#fields.hasErrors('name')}" class="form-text text-muted">Name is required</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" name="quantity" id="quantity" aria-describedby="quantityHid" placeholder="Quantity" th:field="*{quantity}">
                                        <small id="quantityHid" th:if="${#fields.hasErrors('quantity')}" class="form-text text-muted">Quantity is required</small>
                                    </div>

                                    <div class="input-group form-group pt-2">
                                        <span class="input-group-text">Unit Price</span>
                                        <input type="number" name="unitPrice" id="unitPrice" class="form-control" placeholder="Unit Price" th:field="*{unitPrice}">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="categoryId">Category</label>
                                        <select class="form-control" name="categoryId" id="categoryId" th:field="*{categoryId}">
                                        <option th:each="item : ${categories}" th:value="${item.categoryId}" th:text="${item.name}" th:selected="item.categoryId == product.categoryId">Category Name</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-5">
                                    <img th:src="${product.image != null? '/admin/products/images/' + product.image : '/images/noimg.png'}" id="image" width="50%" class="img-fluid" alt="">
                                    <div class="form-group">
                                        <input type="file" onchange="chooseFile(this)" class="form-control-file" name="imageFile" id="productImage" placeholder="Product Image" aria-describedby="productHImage">
                                        
                                    </div>
                                    <div class="input-group form-group">
                                        <span class="input-group-text">Discount</span>
                                        <input type="number" name="discount" id="discount" class="form-control" placeholder="Discount" th:field="*{discount}">
                                        <span class="input-group-text">%</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" name="status" id="status" th:field="*{status}">
                                        <option value="0">Out of Stock</option>
                                        <option value="1">On Sale</option>
                                        <option value="2">Features</option>
                                        <option value="3">Bestseller</option>
                                        <option value="4">Out of Order</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                        <div class="row">
                            <div class="col">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" id="description" rows="5" th:field="*{description}"></textarea>
                            </div>
                            </div>
                        </div>

                        </div>
                        
                    </div>
                </form>
            </div>          
        </section>
    </body>
</html>