@charset "ISO-8859-1";
.warningtext {
	color: red; 
	font-weight: bold;
}

.warningtext1 {
	color: red; 
	
}

.bgprimary{
	background-color: #54c1c9;
}

.boderbot {
	border-bottom: #54c1c9 solid 2px;
}

.colorprimary{
	color: #54c1c9;
	font-weight: bold;
}

.bordersearch{
    border: #54c1c9 dashed 1px;
    border-radius: 5px;
}

.bordersearchcategory{
    border-bottom: #ebebeb solid 1px;
}

.contentwidth{
	width: 100%;
}

.colorprimarynotbold{
	color: #2f8d95;
}

.colortextdefault{
	color: #000000;
}

.bgsecondary{
	background-color: #fff;
}

.bgproduct{
	background-color: #ffffff;
}

.bgheader{
	background-color: #54abc9ab;
}

.hoverr:hover {
	color:#54c1c9 ;
	text-decoration: none;
}

.color{
	color:#343a40 ;
}

.card1 {
	transition: all 0.3s;
}

.card1:hover{
	transform: scale(1.05);
}

.textoverflow{
	white-space: nowrap; 
  width: 210px; 
  overflow: hidden;
  text-overflow: ellipsis;

}

.lineheight1{
line-height: 50px;
	vertical-align: middle;
}

textoverflow:hover {
  overflow: visible;
}

/* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
    -webkit-filter: brightness(70%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.hide1 {
	left: 55px;
 	 top: 10px;
	 visibility: hidden;
  opacity: 0;
  transition: visibility 3s, opacity .5s;
   transition: top .5s;
 
}

.myDIV:hover + .hide1, .hide1:hover {
 
   visibility: visible;
  opacity: 1;
  top: 100px;
  
}

.positionbutton {
	left: 123px;
 	 top: 180px;
}

@media (max-width: 991px) {
    .footer {
        padding-bottom:60px
    }
}

.footer .logo {
    display: block;
    margin-bottom: 20px
}

.footer .logo img {
    width: auto;
    max-width: 250px;
    height: unset
}

.footer h4 {
    font-family: var(--font-title);
    font-size: 16px;
    color: #fff;
    font-weight: bold
}

@media (max-width: 767px) {
    .footer h4 {
        margin-top:10px;
        position: relative
    }

    .footer h4.title-menu:not(.faild):after {
        content: "";
        position: absolute;
        right: 0;
        top: 7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        transition: all 0.5s
    }
}

@media (max-width: 767px) {
    .footer .title-menu.active:after {
        transform:rotate(-180deg)
    }

    .footer .title-menu.active ~ ul {
        display: block
    }
}

.footer ul {
    padding: 0
}

@media (max-width: 767px) {
    .footer ul {
        display:none
    }
}

.footer ul li {
    margin: 0 0 13px;
    font-size: 14px
}

.footer p {
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px
}

.footer .first-footer {
    padding: 40px 0 20px
}

.footer .first-footer h4 {
    margin-bottom: 20px
}

.footer .first-footer .ico {
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px
}

.footer .first-footer .ico p {
    display: inline
}

.footer .first-footer .ico svg {
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 5px;
    fill: #fff
}

.footer .last-h4 {
    margin-top: 20px
}

.footer a {
    color: #fff
}

.footer a:hover {
    color: var(--hover)
}

.footer .company-phone .phone {
    display: flex;
    align-items: center
}

.footer .company-phone .phone:first-child {
    margin-bottom: 10px
}

.footer .company-phone .phone .icon {
    width: 30px;
    height: 40px;
    fill: #fff
}

.footer .company-phone .phone .phone-detail {
    font-size: 14px;
    margin-bottom: 0
}

.footer .company-phone .phone .phone-detail a {
    font-size: 24px;
    font-weight: 600;
    margin-left: 6px;
    line-height: 1.2
}

.footer .company-phone .phone .phone-detail span {
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px
}

.footer .company-phone .mail {
    position: relative;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-top: 15px
}

.footer .company-phone .mail:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    border-top: 1px solid #004374
}

.footer .company-phone .mail .mail-detail {
    display: flex;
    margin-bottom: 0
}

.footer .company-phone .mail .icon {
    width: 27px;
    height: 33px;
    margin-right: 5px;
    fill: #fff
}

.footer .company-phone .mail a {
    color: #fff;
    font-size: 14px;
    margin-left: 10px
}

.footer .company-phone .mail a:hover {
    color: var(--hover)
}

.footer .social {
    text-align: right
}

@media (max-width: 767px) {
    .footer .social {
        margin-bottom:7px;
        text-align: center
    }
}

.footer .social svg {
    width: 20px;
    height: 20px
}

.footer .social a {
    display: inline-block;
    margin-right: 10px
}

.footer .social a svg {
    fill: #fff
}

.footer .social a:hover svg {
    fill: var(--hover)
}

.footer .copyright {
    color: #fff;
    font-size: 14px
}

.footer .copyright .inner {
    padding-top: 20px;
    border-top: solid 1px #004374;
    margin-top: 10px;
    padding-bottom: 15px
}

.footer .copyright a {
    color: var(--hover)
}

@media (max-width: 767px) {
    .footer .copyright {
        text-align:center
    }

    .footer .opacity1 {
        display: block
    }
}