@charset "ISO-8859-1";
.warningtext {
	color: red; 
	font-weight: bold;
}

.bgprimary{
	background-color: #54c1c9;
}

.bgsecondary{
	background-color: #fff;
}

.bgheader{
	background-color: #54abc9ab;
}